<main class="container-fluid">
  <h1 class="text-center">Edit Mission Statement</h1>

  <%= render 'layouts/error_messages_for', obj: @mission_statement %>
  
  <%= form_with(model: @mission_statement, data: { turbo: false }) do |form| %>
    <div class="mb-3">
      <%= form.label :statement, class: "form-label" %>
      <%= form.text_field :statement, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :content, class: "sr-only" %>
      <%= form.rich_text_area :content %>
    </div>

    <div class="actions">
      <%= form.submit 'Save', class: "primary-button" %>
      <%= link_to 'Cancel', mission_statement_path(@mission_statement), class: "secondary-button" %>
    </div>
  <% end %>
</main>