<%= form_with model: @photo_album, data: { turbo: false }, class: "w-75 p-3 mx-auto" do |f| %>
  <div class="mb-3">
    <%= f.label :title, "Title", class: "form-label" %>
    <%= f.text_field :title, class: "form-control", placeholder: "Add title for photo album." %>
  </div>

  <div class="mb-3">
    <%= f.label :event_date, "Event Date", class: "form-label" %>
    <%= f.date_field :event_date, class: "form-control" %>
  </div>
  
  <div class="mb-3">
    <%= f.label :photo_message, "Message displayed on each photo", class: "form-label" %>
    <%= f.text_field :photo_message, class: "form-control", placeholder: "Add message for each photo." %>
  </div>
  
  <div class="mb-3">
    <%= f.label :photo, "Cover Photo", class: "form-label" %>
    <%= f.file_field :photo, multipart: true, class: "form-control" %>
  </div>

  <div class="actions">
    <%= link_to 'Cancel', (@photo_album.new_record? ?  photo_albums_path : photo_album_path(@photo_album)), class: 'secondary-button' %>
    <%= f.submit "Save Gallery", class: 'primary-button' %>
  </div>
<% end %>