<%= form_with model: @photo_album, data: { turbo: false } do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  
  <div class="actions">
    <%= link_to 'Cancel', (@photo_album.persisted? ? photo_album_path(@photo_album) : @photo_albums_path), class: 'secondary_button' %>
    <%= f.submit %>
  </div>

<% end %>