<% content_for :title, "#{t('app.title')} Photo Albums" %>

<div class="container-fluid photo-albums">
  <div class="admin-actions">
    <%= link_to "New Gallery", new_photo_album_path if policy(PhotoAlbum).create? %>
  </div>

  <% if @photo_albums.empty? %>
    <p>There are currently no photo albums. <%= link_to 'Add Photo Album', new_photo_album_path if policy(PhotoAlbum).create? %></p>
  <% else %>
    <div class="photo-albums-container">
      <% @photo_albums.each_slice((@photo_albums.size / 3.0).ceil) do |group| %>
      <% @count += 1 %>
        <div class="column-row">
          <ul class="list-unstyled">
            <% group.each do |photo_album| %>
              <li class="photo-album-list-item <%= "taller-item" if @count.even? %>">
                <div>
                  <%= link_to photo_album do %>
                    <%= image_tag((photo_album.photo.attached? ? photo_album.photo : "default_album_image.jpg"), 
                        class: 'photo-album-image',
                        alt: 'Album Cover') %>
                    <div class="photo-album-overlay">
                      <div class="overlay-content">
                        <h2 class="overlay-title"><%= photo_album.title %></h2>
                        <p class="overlay-date"><%= photo_album.event_date.strftime("%m/%d/%Y") if photo_album.event_date %></p>
                        <div class="actions">
                          <span class="primary-button">View Gallery</span>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
