<main class="container-fluid photo-albums">
  <h1 class="text-center"><%= @photo_album.title %> Photos</h1>

  <%= no_photos_message(@photo_album) %>

  <% @photo_album.photos.in_groups_of(5, nil) do |group| %>
    <div class="row-container">
      <% group.each do |photo| %>
        <%= render photo if photo %>
      <% end %>
    </div>
  <% end %>

  <div class="actions">
    <%= link_to "Back to Albums", photo_albums_path, class: 'secondary-button' %>
    <%= link_to "New Photo", new_photo_album_photo_path(@photo_album), class: 'primary-button' %>
</main>