<main class="container-fluid homepage">
  <section class="hero">
    <div class="hero-image">
      <div class="hero-content">
        <h1>Your Hero Image with Example Text</h1>
      </div>
    </div>
  </section>

  <section>
    <h3 class="text-center">About</h3>

    <div class="admin-actions">
      <%= link_to 'Manage About', edit_about_path if policy(@about).edit? %>
    </div>

    <%= @about.content %>
  </section>

  <section>
    <h3 class="text-center">Packages</h3>

    <div class="admin-actions">
      <%= link_to "Manage Packages", packages_path if policy(Package).update?%>
    </div>
    
    <div class="row justify-content-center text-center">
      <%= render @packages %>
    </div>
  </section>

  <section>
    <h3 class="text-center">Features</h3>

    <div class="admin-actions">
      <%= link_to "Manage Photo Albums", photo_albums_path if user_signed_in? %>
    </div>
    
    <div class="row text-center">
      <div class="col">
      <h4>Photos</h4>
        <%= image_tag 'features-photos.jpg', class: "img-fluid" %>
      </div>
      
      <div class="col">
      <h4>Boomerangs</h4>
      <%= video_tag "features-boomerang.mp4", 
          controls: false, 
          autoplay: true, 
          loop: true, 
          muted: true,
          preload: "auto", 
          class: "img-fluid" %>

      </div>

      <div class="col">
      <h4>Gifs</h4>
        <%= image_tag 'features-gif.jpg', class: "img-fluid" %>
      </div>
    </div>

    <div class="row text-center">
      <div class="col">
        <h4>Videos</h4>
        <%= video_tag "features-videos.mp4", 
            controls: false, 
            autoplay: true, 
            loop: true, 
            muted: true,
            preload: "auto", 
            class: "img-fluid" %>
      </div>
    
      <div class="col">
        <h4>Filters</h4>
        <%= image_tag 'features-filters.jpg', class: "img-fluid", width: "250px" %>
      </div>
    
      <div class="col">
        <h4>Instanct Sharing</h4>
        <%= image_tag 'features-sharing.jpg', class: "img-fluid" %>
      </div>
    </div>

    <div class="row text-center">
      <div class="col">
        <h4>Gallery</h4>
        <%= image_tag 'features-gallery.jpg', class: "img-fluid" %>
      </div>
    
      <div class="col">
        <h4>Greenscreen</h4>
        <%= image_tag 'features-greenscreen.jpg', class: "img-fluid", style: "height: 300px;" %>
      </div>
    
      <div class="col">
        <h4>LED</h4>
        <%= image_tag 'features-led.jpg', class: "img-fluid" %>
      </div>
    </div>
  </section>

  <section>
    <div class="button-container">
      <%= link_to 'Contact Now', new_contact_path, class: "button contact-btn" %>
      <!-- <a href="#buy-now" class="button buy-btn">Buy Now</a> -->
    </div>
  </section>
</main>
