<% cache do %>
  <main class="container-fluid homepage">
    <section class="hero">
      <div class="hero-image"></div>
    </section>
    
    <section>
      <h1 class="text-center">Capture the Moments, Taylor&rsquo;d to Perfection</h1>
    </section>

    <section>
      <h2 class="text-center fs-1">About</h2>

      <div class="admin-actions">
        <%= link_to 'Manage About', edit_about_path if policy(@about).edit? %>
        <%= link_to 'Manage Mission Statement', edit_mission_statement_path if policy(@mission_statement).edit? %>
      </div>

      <%= @about.content %>
    </section>

    <section>
      <h2 class="text-center fs-1">Packages</h2>

      <div class="admin-actions">
        <%= link_to "Manage Packages", packages_path if policy(Package).update?%>
      </div>
      
      <%= render 'packages/carousel' %>
    </section>

    <section>
      <h2 class="text-center fs-1">Features</h2>

      <div class="admin-actions">
        <%= link_to "Manage Photo Albums", photo_albums_path if user_signed_in? %>
      </div>
      
      <div class="row text-center">
        <div class="col">
        <h4>Photos</h4>
          <%= image_tag 'features/photos.jpg', class: "img-fluid" %>
        </div>
        
        <div class="col">
          <h4>Boomerangs</h4>
          <%= image_tag 'features/boomerang.gif', class: 'img-fluid' %>
        </div>

        <div class="col">
        <h4>Gifs</h4>
          <%= image_tag 'features/gif.gif', class: "img-fluid" %>
        </div>
      </div>

      <div class="row text-center">
        <div class="col">
          <h4>Videos</h4>
          <%= image_tag 'features/videos.gif', class: 'img-fluid' %>
        </div>
      
        <div class="col">
          <h4>Filters</h4>
          <%= image_tag 'features/filters.jpeg', class: "img-fluid", width: "250px" %>
        </div>
      
        <div class="col">
          <h4>Instant Sharing</h4>
          <%= image_tag 'features/sharing.jpg', class: "img-fluid" %>
        </div>
      </div>

      <div class="row text-center">
        <div class="col">
          <h4>Gallery</h4>
          <%= image_tag 'features/gallery.jpg', class: "img-fluid" %>
        </div>
      
        <div class="col">
          <h4>Greenscreen</h4>
          <%= image_tag 'features/green-screen.jpg', class: "img-fluid" %>
        </div>
      
        <div class="col">
          <h4>LED</h4>
          <%= image_tag 'features/led.jpg', class: "img-fluid" %>
        </div>
      </div>
    </section>

    <div class="button-container">
      <%= link_to 'Book Now!', new_contact_path, class: "button contact-btn" %>
    </div>
    
  </main>
<% end %>
