<main class="container-fluid mt-5 contact-form">
  <%= render "layouts/error_messages_for", obj: @contact %>

  <div class="form-container">
    <div class="col-md-4 mb-4 mb-md-0 d-none d-md-block">
      <img src="<%= asset_path('contact.png') %>" alt="Contact Us" class="img-fluid w-100 rounded" id="contact-image">
    </div>
    
    <div class="col-md-6 ms-md-4">
      <div class="col-md-8 mx-auto">
        <header class="header">Questions?</header>

        <div class="sub-header">
          <p>Ask them below or call our Maryland location at</p>
          <p>(xxx) xxx-xxxx</p>
        </div>
      </div>

      <%= form_with model: @contact, url: contact_path, method: :post, data: { turbo: false } do |f| %>
        <div class="mb-4 row">
          <div class="col-md-8 mx-auto">

            <%= f.label :event_type, "What type of event are you planning? (required)", class: 'form-label' %>
            <%= f.select :event_type, 
                          options_for_select(['Wedding', 'Birthday', 'Graduation', 'Corporate Party', 'Conference', 'Other']),
                          { prompt: 'Select an option' },
                          class: 'form-control',
                          required: true %>
          </div>
        </div>

        <div class="mb-4 row">
          <div class="col-md-8 mx-auto">
            <div class="row">
              <div class="col-md-6">
                <%= f.label :first_name, "First Name (required)", class: 'form-label' %>
                <%= f.text_field :first_name, class: 'form-control', required: true %>
              </div>
              <div class="col-md-6">
                <%= f.label :last_name, "Last Name (required)", class: 'form-label' %>
                <%= f.text_field :last_name, class: 'form-control', required: true %>
              </div>
            </div>
          </div>
        </div>

        <div class="mb-4 row">
            <div class="col-md-8 mx-auto">
            <div class="row">
              <div class="col-md-6">
              <%= f.label :event_date, "Event Date (required)", class: 'form-label' %>
              <%= f.date_field :event_date, class: 'form-control', required: true %>
              </div>
            </div>
            </div>
        </div>

        <div class="mb-4 row">
          <div class="col-md-8 mx-auto">
            <%= f.label :email, "Email (required)", class: 'form-label' %>
            <%= f.email_field :email, class: 'form-control', required: true %>
          </div>
        </div>

        <div class="mb-4 row">
          <div class="col-md-8 mx-auto">
            <%= f.label :phone, "Phone", class: 'form-label' %>
            <%= f.telephone_field :phone, class: 'form-control' %>
          </div>
        </div>

        <div class="mb-4 row">
          <div class="col-md-8 mx-auto">
            <%= f.label :reference, "How did you hear about us? (required)", class: 'form-label' %>
            <%= f.text_field :reference, class: 'form-control', required: true %>
          </div>
        </div>

        <div class="mb-4 row">
          <div class="col-md-8 mx-auto">
            <%= f.label :message, "Question (required)", class: 'form-label' %>
            <%= f.text_area :message, class: 'form-control', rows: 5, required: true, id: :message %>
          </div>
        </div>

        <div class="mb-4 row">
          <div class="col-md-8 mx-auto">
            <div class="contact-actions">
              <%= f.submit 'Send', class: 'primary-button' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</main>
