<main class="container-fluid">
  <h1 class="text-center">Edit About</h1>

  <%= form_with model: @about, url: abouts_path, method: :patch do |f| %>
    <div class="field">
      <%= f.label :content %>
      <%= f.rich_text_area :content %>
    </div>

    <div class="actions">
      <%= link_to :Cancel, abouts_path, class: 'secondary-button' %>
      <%= f.submit class: "primary-button" %>
    </div>
  <% end %>
</main>
