<%= form_with model: [@photo_album, @photo], data: { turbo: false } do |f| %>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image, multipart: true %>
  </div>
  <div class="field">
    <%= f.label :conver_photo %>
    <%= f.check_box :cover_photo %>
  </div>
  
  <div class="field">
    <%= f.label :description, 'Description (Optional)' %>
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    <%= link_to 'Cancel', (@photo.persisted? ? photo_album_photo_path(@photo) : photo_album_path(@photo.photo_album)), class: 'btn btn-secondary'%>
    <%= f.submit %>
  </div>
<% end %>