<%= form_with model: [@photo_album, @photo], data: { turbo: false } do |f| %>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image, multipart: true %>
  </div>
  <div class="field">
    <%= f.label :conver_photo %>
    <%= f.check_box :cover_photo %>
  </div>
  
  <div class="field">
    <%= f.label :description, 'Description (Optional)' %>
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    <%= cancel_button(@photo_album) %>
    <%= f.submit %>
  </div>
<% end %>