<main class="container-fluid">
  <%= render 'layouts/error_messages_for', obj: @photo %>

  <h1 class="text-center">Edit Photo for  <%= @photo_album.title %> Album</h1>

  <%= form_with model: [@photo_album, @photo], data: { turbo: false }, class: "w-75 p-3 mx-auto" do |f| %>
    <div class="form-check mb-3">
      <%= f.check_box :cover_photo, class: "form-check-input" %>
      <%= f.label :conver_photo, class: "form-label" %>
    </div>
    
    <div class="form-floating mb-3">
      <%= f.text_field :description, class: "form-control", placeholder: "Add brief photo decription." %>
      <%= f.label :description, 'Description (Optional)', class: "form-label text-dark" %>
    </div>

    <div class="actions">
      <%= link_to :Cancel, photo_album_photo_path(@photo_album, @photo), class: 'secondary-button' %>
      <%= f.submit class: 'primary-button' %>
    </div>
  <% end %>
</main>
