<turbo-frame id="lightbox">
  <div class="lightbox-overlay">
    <div class="lightbox-close">
      <%= link_to "×", photo_album_path(@photo_album), class: "close-button" %>
    </div>

    <div class="lightbox-content">
      <div class="lightbox-navigation">
        <% if @previous_photo %>
          <%= link_to "<", photo_album_photo_path(@photo_album, @previous_photo), data: { turbo_frame: "lightbox" }, class: "nav-arrow left-arrow" %>
        <% else %>
          <span class="nav-arrow-placeholder"></span>
        <% end %>
        
        <div class="card custom-card">
          <div class="row no-gutters">
            <div class="col-md-6">
              <%= image_tag @photo.image, class: "card-img" %>
            </div>

            <div class="col-md-6 photo-info-area">
              <div class="card-body">
                <h2 class="card-title"><%= @photo_album.title %></h2>

                <%= link_to ("VIEW ALL #{@photo_album.photos.count} CAPTURES &rarr;").html_safe, @photo_album, class: "card-link" %>

                <p>Taylor'd Eunique Memories</p>

                <%= mail_to "#{Rails.application.credentials.email.downcase}", Rails.application.credentials.email.downcase, class: "card-link" %>

                <%= link_to "https://euniquememories.com", "https://euniquememories.com", class: "card-link text-lowercase" %>

                <p><%= Rails.application.credentials.phone %></p>
              </div>
            </div>
          </div>
        </div>


        <% if @next_photo %>
          <%= link_to ">", photo_album_photo_path(@photo_album, @next_photo), data: { turbo_frame: "lightbox" }, class: "nav-arrow right-arrow" %>
        <% else %>
          <span class="nav-arrow-placeholder"></span>
        <% end %>
      </div>

      <div class="lightbox-actions">
        <%#= link_to "Download", download_photo_path(@photo), class: "action-button" %>
        <%#= link_to "Share", "#", class: "action-button" %>
      </div>
    </div>
  </div>
</turbo-frame>