<%= form_with(model: @review, data: { turbo: false }) do |f| %>
  <div class="form-group">
    <%= f.label :rating, "Rating" %><br>
    <div class="star-rating">
      <% (1..10).each do |i| %>
        <%= f.radio_button :rating, i, id: "star#{i}" %>
        <label for="star<%= i %>" class="star">★</label>
      <% end %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :content, "Your review" %>
    <%= f.text_area :content, class: 'form-control', rows: 5 %>
  </div>
  
  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label :first_name, 'First Name (Optional)' %>
      <%= f.text_field :first_name, class: 'form-control' %>
    </div>
    <div class="form-group col-md-4">
      <%= f.label :last_name, 'Last Name (Optional)' %>
      <%= f.text_field :last_name, class: 'form-control' %>
    </div>
    <div class="form-group col-md-4">
      <%= f.label :email, 'Email (this is not public!)' %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit class: "primary-button" %>
  </div>
<% end %>
