<footer class='bg-dark text-white py-4 footer'>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-md-4'>
        <h5>Links</h5>
        <ul class='list-unstyled'>
          <li><%= link_to 'Reviews', reviews_path %></li>
          <li><%= link_to 'Contact', new_contact_path %></li>
        </ul>
      </div>
      <div class='col-md-4'>
        <h5>Contact</h5>
        <p>Phone: <%= Rails.application.credentials.phone %></p>
      </div>
      <div class='col-md-4'>
        <h5>Follow Us</h5>
        <%= link_to 'https://www.facebook.com/people/Taylord-Eunique-Memories/pfbid02b26a4NHYqj2GmirXuRmC5G6AkCcttkJCqityLS2qpQK9iZ8ikU5H9Futyje2duJGl/' do %>
          <i class='bi bi-facebook'></i>
        <% end %>
        <%= link_to 'https://www.instagram.com/euniquememories_/' do %>
          <i class='bi bi-instagram'></i>
        <% end %>
      </div>
    </div>
  </div>
</footer>