<nav class="navbar" data-bs-theme="dark">
  <div class="container-fluid">
    <%= link_to image_tag('logo.png', width: '150px'), root_path, class: "navbar-brand" %>
    <div class="title-bar">
      <i class="fa-solid fa-video"></i>
      <%= t("app.title") %>
      <i class="fa-solid fa-camera"></i>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav d-flex flex-column flex-lg-row justify-content-center gap-3">
        <li class="nav-item">
          <%= link_to "<i class='fa-solid fa-house fa-lg'></i> Home".html_safe, root_path, class: "nav-link #{'active' if current_page?(root_path)}" %>
        </li>
        <li class="nav-item">
          <%= link_to "<i class='fa-regular fa-file-lines fa-lg'></i> About".html_safe,  about_path, class: "nav-link #{'active' if current_page?(about_path)}" %>          
        </li>
        <li class="nav-item">
          <%= link_to "<i class='fa-solid fa-image fa-lg'></i> Gallery".html_safe, photo_albums_path, class: "nav-link #{'active' if current_page?(photo_albums_path)}" %>
        </li>
        <li class="nav-item">
          <%= link_to "<i class='fa-regular fa-comment fa-lg'></i> Reviews".html_safe, reviews_path, class: "nav-link #{'active' if current_page?(reviews_path)}" %>
        </li>
        <li class="nav-item">
          <%= link_to "<i class='fa-regular fa-envelope fa-lg'></i> Contact".html_safe, new_contact_path, class: "nav-link #{'active' if current_page?(new_contact_path)}" %>
        </li>
        <li class="nav-item d-flex align-items-center">
          <%= link_to '<i class="fa-brands fa-instagram fa-lg"></i> Instagram'.html_safe, "https://www.instagram.com/euniquememories_/", class: "nav-link", target: "_blank" %>
        </li>

        <%= authentication_actions %>
        <li class="nav-item">
         <%= link_to :Profile, edit_user_registration_path, class: "nav-link" if user_signed_in? %>
        </li>
      </ul>
    </div>
  </div>
</nav>