<nav class="navbar navbar-expand-lg" data-bs-theme="dark">
  <div class="container-fluid">
    <%= link_to image_tag('logo.png', width: '150px'), root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= link_to :Home, root_path, class: "nav-link #{'active' if current_page?(root_path)}" %>
        </li>
        <li class="nav-item">
          <%= link_to :About, about_path, class: "nav-link #{'active' if current_page?(about_path)}" %>          
        </li>
        <li class="nav-item">
          <%= link_to :Gallery, photo_albums_path, class: "nav-link #{'active' if current_page?(photo_albums_path)}" %>
        </li>

        <%= authentication_actions %>
      </ul>
    </div>
  </div>
</nav>